<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../static/images/favicon.png"
    />
    <title>Passkeep &mdash; Safety like never before!</title>
  </head>
  <body>
    <nav class="main-nav">
      <ul class="nav-list">
        <li>
          <a
            class="nav-link"
            href="http://127.0.0.1:8081/sign-up"
            class="link signup"
            >01. Sign Up</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            href="http://127.0.0.1:8081/sign-in"
            class="link signin"
            >02. Sign In</a
          >
        </li>
      </ul>
    </nav>

    <div class="bg-main"></div>
    <img
      class="logo-main"
      src="../static/images/img-3_512.png"
      alt="passkeep-logo"
    />
    <h1 class="heading-primary">Welcome to <span>Passkeep</span></h1>
    <p class="webapp-version">version 0.2.0</p>
    <script src="../static/script.js"></script>
  </body>
</html>
