<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/new-action.css" />
    <title>Passkeep &mdash; Password Generator</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="../static/images/favicon.png"
    />
  </head>
  <body>
    <div class="bg-main">
      <h1 class="heading-primary">&GreaterGreater; Generate Password</h1>
      <img
        class="img-1"
        src="../static/images/img-1.jpg"
        alt="fingerprint-indicator"
      />
      <form class="page-form" action="new-entry" method="post">
        <div class="form-input-username">
          <label class="form-label" for="source">Source:</label>
          <input
            class="form-input"
            id="source"
            name="source"
            type="text"
            required
          />
        </div>
        <div class="form-input-select">
          <label class="form-label">Security level:</label>
          <select
            class="form-input select-input"
            name="pass-level"
            title="hello"
            required
          >
            <option value="level-1">Weak</option>
            <option value="level-2">Intuitive</option>
            <option value="level-3">Secure</option>
            <option value="level-4">Challenge</option>
            <option value="level-5">Extreme</option>
          </select>
        </div>
        <button class="btn submit-btn" type="submit">Generate</button>
      </form>
    </div>
    <a class="signin-link" href="http://127.0.0.1:8081/{{ user }}/home">
      Go back to home 🏡
    </a>
  </body>
</html>
