<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="http://127.0.0.1:8081/static/css/pass-check.css"
    />
    <title>Passkeep &mdash; AmIPwned</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="../static/images/favicon.png"
    />
  </head>
  <body>
    <div class="bg-main">
      <h1 class="heading-primary">&GreaterGreater; Password Checker</h1>
      <img
        class="img-1"
        src="../static/images/img-1.jpg"
        alt="fingerprint-indicator"
      />
      <form class="page-form" action="checked" method="post">
        <div class="form-input-username">
          <label class="form-label" for="password">Enter your password:</label>
          <input
            class="form-input"
            id="password"
            name="password"
            type="text"
            required
          />
        </div>
        <button class="btn submit-btn" type="submit">Check</button>
      </form>
    </div>
    <a class="signin-link" href="http://127.0.0.1:8081/{{ user }}/home">
      Go back to home 🏡
    </a>
  </body>
</html>
